<form>
    <p class="Admin">
        <button><a href="~/Areas/Admin/Views/AdminUser/AdminUser.cshtml">User</a></button>

        <button><a href="~/Areas/Admin/Views/AdminFilm/AdminFilm.cshtml">Film</a></button>

        <button><a href="~/Areas/Admin/Views/AdminCountry/AdminCountry.cshtml">Country</a></button>

        <button><a href="~/Areas/Admin/Views/AdminGenre/AdminGenre.cshtml">Genre</a></button>

        <button><a href="~/Areas/Admin/Views/AdminSesion/AdminSession.cshtml">Session</a></button>

        <button><a href="~/Areas/Admin/Views/AdminHall/AdminHall.cshtml">Hall</a></button>
    </p>
</form>